<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		 
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button> <a class="navbar-brand" href="{{ "/home" | relative_url }}">{{ site.title }}</a>
	</div>
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
            {% for a_page in site.pages %}
			<li>
			    {% if a_page.title %}
				<a href="{{ a_page.url | relative_url}}">{{ a_page.title | escape }}</a>
				{% endif %}
			</li>
			{% endfor %}
			<li><a href="{{ "/blog" | prepend: site.baseurl }}">Posts</a></li>
		</ul>
	</div>
</nav>
